body{
	padding: 100px;
	color: rgb (0, 0, 0);
	background-color: rgb (255, 255, 255);
	}
a{ 
	color: rgb(223, 123, 214);
	text-decoration: none;
	}
h2 {
	font-size: 86px;
	font-weight: bold;
	}

h2:hover {
	color: green;
}
