
body{
	padding: 300px;
	color: black;
	background-color: black;
}
a {
	color: #0e1717;
	text-decoration: none;
}
h2 {
	font-size: 86px;
	font-weight: bold;
}
body:hover {
	color: white;
}
a:hover {
	color: white;
}
a{
	padding: 500px
}
