
body{
	padding: 300px;
	color: #123456;
	background-color: #000000;
}
a {
	color: #0e1717;
	text-decoration: none;
}
h2 {
	font-size: 86px;
	font-weight: bold;
}
body:hover {
	color: #ffffff;
}
a:hover {
	color: #ffffff;
}
.wrapper {
	background: red;
	margin: 4% auto;
	padding: 20px;
	width: 90%;
}
.wrapper:after{
	display: block;
	clear: both;
	content: " ";
	height: 0;
	overflow: hidden;
}
ol{
	margin: 0;
}
ol.one{
	background: Blue;
	width: 100%;
}
ol.two{
	background: green;
	float: left;
	height: 500px;
	width: 500px;
}
img.one{
	position: fixed;
	background: black;
	bottom: 500px;
	left: 500px;
}
